option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"

# Install Git needed for Git based gems
packages:
  yum:
    git: []

container_commands:
  01_bundle:
    command: "bundle install"
  02_migrate:
    command: "bundle exec rake db:migrate"
  03_precompile_assets:
    command: "bundle exec rake assets:precompile"
  